// Black and Gray color variables
$cod-gray: #171717;
$mine-shaft: #2e2e2e;
$mine-shaft-transparent: rgba(46, 46, 46, 0.3);
$dusty-gray: #a39393;

// Blue color variables
$curious-blue: #2098d1;

// Red color variables
$red: #ff0000;


// Colors config

$primary-color: $cod-gray;
$secondary-color: $mine-shaft-transparent;
