{% extends 'base.html'%}
{% load static %}

{% block initjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css" integrity="sha256-0Z6mOrdLEtgqvj7tidYQnCYWG3G2GAIpatAWKhDx+VM=" crossorigin="anonymous" />
{% endblock %}

{% block content %} 
    {% include 'includes/navigationbar.html' %} 
    {% include 'includes/particles-bg.html' %}
    <div class="container-fluid">
        <div class="row" id='data-collection'>
            <div class="col-lg-3">
                <div class="list-group" id="data-input" role='tablist'>
                    <a href="#upload-div" class="list-group-item list-group-item-action active" id="upload-list" data-toggle='list' role 'tab'>
                        <i class="fas fa-cloud-upload-alt"></i>  Your data.
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content" id="input-options">
                    <div class="tab-pane fade show active" id="upload-div" role='tabpanel' aria-labelledby="upload-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}