<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Hover CSS-->
    <link rel="stylesheet" href="../../static/css/hover-min.css">
    <!-- Website's CSS-->

    <link rel="stylesheet" href="../../static/css/style.css">

    <!-- Particles.js -->
    <script src="../../static/js/particles.min.js"></script>
    <!-- Fonts js-->
    <script src="https://use.edgefonts.net/rationale;quicksand.js"></script>

    <script src="../../static/js/typed.min.js"></script>

    <title> </title>
</head>

<body>
    <!-- Particles background -->
    <script>
        particlesJS.load('particles-bg', 'particles-configs/particlesjs-config.json', function() {
            console.log('callback - particles.js config loaded');
        });

    </script>

    <div id="particles-bg"></div>

    <div class="container-fluid">

        <!--Navigation bar-->
        <div class="navbar navbar-expand-sm">
            <!--Logo-->
            <a href="#" class="navbar-brand">
                <img src="../../static/img/logo.png" alt="">
            </a>

            <button class="navbar-toggler" type='button' data-toggle='collapse' data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Navbar items-->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-overline-from-center active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link hvr-overline-from-center">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#get-involved" class="nav-link hvr-overline-from-center">Get Involved</a>
                    </li>
                    <!--This will be added subsequently as the community grows
                     <li class="nav-item">
                        <a href="#meet-community" class="nav-link hvr-overline-from-center">Our Community</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-sweep-to-bottom  button-red-sweep-to-bottom button" role=button>Use It Now</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-sweep-to-top button-blue-sweep-to-top button">Docs &amp; Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" id="footer">
            <span class="text-sm" style='margin: 20px'>&copy;data.<span class="colored-text-red">Insights</span> 2018</span>
            <span class="text-sm ml-auto" style='margin: 20px'>GNU GPL v3.0</span>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>

</html>
