{% extends 'base.html'%}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block initjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
{% endblock %}

{% block content %} 
    {% include 'includes/navigationbar.html' %} 
    {% include 'includes/particles-bg.html' %}
    {% include 'includes/footer.html' %}
{% endblock %}