<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Hover CSS-->
    <link rel="stylesheet" href="../../static/css/hover-min.css">
    <!-- Website's CSS-->

    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Particles.js -->
    <script src="../../static/js/particles.min.js"></script>
    <!-- Fonts js-->
    <script src="https://use.edgefonts.net/rationale;quicksand.js"></script>

    <script src="../../static/js/typed.min.js"></script>

    <title> </title>
</head>

<body>

    <!-- Particles background -->
    <script>
        particlesJS.load('particles-bg', 'particles-configs/particlesjs-config.json', function() {
            console.log('callback - particles.js config loaded');
        });

    </script>
    <div id="particles-bg"></div>

    <!-- Page content-->
    <div class="container-fluid" id="page-content">

        <!--Navigation bar-->
        <div class="navbar navbar-expand-sm sticky-top">
            <!--Logo-->
            <a href="#" class="navbar-brand">
                <img src="../../static/img/logo.png" alt="">
            </a>

            <button class="navbar-toggler" type='button' data-toggle='collapse' data-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Navbar items-->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-overline-from-center active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link hvr-overline-from-center">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#get-involved" class="nav-link hvr-overline-from-center">Get Involved</a>
                    </li>
                    <li class="nav-item">
                        <a href="#meet-community" class="nav-link hvr-overline-from-center">Our Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-sweep-to-bottom  button-red-sweep-to-bottom button" role=button>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link hvr-sweep-to-top button-blue-sweep-to-top button">Docs &amp; Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- HEADER -->
    <div class="row" id="header">
        <div class="col-12">
            <span class='heading heading-lg'>
                D<span class='colored-text-curious-blue'>A</span>TA
            <span class="heading-xl"> </span>
            </span>
            <div id="type-out"></div>
            <span id="typed"></span>
            <br>
            <span class='text-md'>Use a variety of
                <span class='colored-text-red'>visualization</span> and
            <span class='colored-text-curious-blue'>analysis</span> methods to figure out the hidden facts in your
            <span class="colored-text-curious-blue">DATA</span>.
            </span>
            <br>
            <br>

            <div id="quotes-carousel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#quotes-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#quotes-carousel" data-slide-to="1"></li>
                    <li data-target="#quotes-carousel" data-slide-to="2"></li>
                    <li data-target="#quotes-carousel" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <span class="quote text-sm">"Numbers have an important
                            <span class="colored-text-red">story</span> to tell. They rely on you to give them a clear and convincing voice."</span>
                        <br>
                        <span class="colored-text-curious-blue">―Stephen Few</span>
                    </div>
                    <div class="carousel-item">
                        <span class="quote text-sm">"The goal is to turn data into information, and information into
                            <span class="colored-text-red">insight</span>."</span>
                        <br>
                        <span class="colored-text-curious-blue">―Carly Fiorina</span>
                    </div>
                    <div class="carousel-item">
                        <span class="quote text-sm">"Visualizations act as a
                            <span class="colored-text-golden-grass">campfire</span> around which we gather to tell stories."</span>
                        <br>
                        <span class="colored-text-curious-blue">―Al Shalloway</span>
                    </div>
                    <div class="carousel-item">
                        <span class="quote text-sm">"The
                            <span class="colored-text-curious-blue">greatest</span> value of a picture is when it forces us to notice what we never expected to see."</span>
                        <br>
                        <span class="colored-text-curious-blue">―John Tukey</span>
                    </div>
                </div>
            </div>

            <div class="links">
                <button class="button hvr-wobble-horizontal button-red links-item">Try Out!</button>
                <button class="button hvr-wobble-horizontal button-curious-blue links-item">Learn More</button>
            </div>

        </div>
    </div>

    <!-- What we do-->
    <div class="row" id="what-we-do">
        <div class="col-12 row-desc">
            <span class="heading-md heading">
                <span class="colored-text-curious-blue">WHAT</span> WE
            <span class="colored-text-red">  DO</span>
            </span>
            <br>
            <br>
            <span class='text-md'>
                <span class='colored-text-curious-blue'>Data</span> is a very important resource nowadays. Figuring out the patterns existing in data can prove very useful in making business decisions, in your researches... Our
            <span class="colored-text-golden-grass">goal</span> is to provide you with what you need to
            <span class='colored-text-red'>visualize</span> your
            <span class='colored-text-curious-blue'>data</span>, and
            <span class='colored-text-red'>analyse</span> your data easily.</p>

        </div>
    </div>

    <div class="row" id='desc-step'>
        <div class="col-lg-12">
            <div class="card-list">
                <div class="card-sm">
                    <div class="card-sm-top div-fill"> <span class="card-title heading heading-md">D<span class='colored-text-curious-blue'>A</span>TA</span></div>
                    <div class="card-sm-content"> <span class="text-sm">Upload a CSV, TSV, XLS or JSON file, or paste your data or provide a link to it data or its QUANDL name.</span></div>
                </div>
                <div class="card-sm">
                    <div class="card-sm-top div-fill"><span class="card-title heading heading-md">V<span class='colored-text-red'>I</span>SUALIZ<span class='colored-text-curious-blue'>A</span>TION</span></div>
                    <div class="card-sm-content"> <span class="text-sm">Choose and provide the dimensions as required a chart or more from the available charts. </span></div>
                </div>
                <div class="card-sm">
                    <div class="card-sm-top div-fill"><span class="card-title heading heading-md"><span class='colored-text-red'>A</span>NAL<span class='colored-text-curious-blue'>Y</span>SIS</span></div>
                    <div class="card-sm-content"> <span class="text-sm">Select and configure appropriately a learning algorithm to train, test and predict with your data.</span></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Get Involved-->
    <div class="row" id="get-involved">
        <div class="col-12 row-desc">
            <span class="heading-md heading">
                    <span class="colored-text-curious-blue">G</span>ET
            <span class="colored-text-red">I</span>NVOLVED
            </span>
            <br>
            <br>
            <span class="text-md">
                    data. <span class="colored-text-red">Insights</span> is free and open source. Join us and help us make visualization and analysis of data even easier and better by contributing to our code base through writing codes or
            documentation. For More information on how to contribute checkout our.
            </span>

            <div class="links">
                <button class="button hvr-wobble-horizontal button-curious-blue links-item"> <img src="../../static/img/github.png" alt="data-"> Github</button>
                <button class="button hvr-wobble-horizontal button-red links-item">Gitter</button>
            </div>
        </div>
    </div>

    <script>
        var options = {
            strings: [
                "<span class='heading heading-lg'>V<span class='colored-text-red heading-xl'>I</span>SUALIZ<span class='colored-text-curious-blue'>A</span>TION</span>",
                "<span class='heading heading-lg'><span class='colored-text-red heading-xl'>A</span>NAL<span class='colored-text-curious-blue'>Y</span>SIS</span>",
                "<span class='heading heading-lg'><span class='colored-text-red'><span class='heading-xl'>I</span>NSIGHTS</span></span>"
            ],
            typeSpeed: 70,
            startDelay: 2000,
            loop: true,
            bindInputFocusEvents: true
        }
        var typed = new Typed("#type-out", options);

    </script>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</body>

</html>
