{% extends 'base.html'%} {% load static %} {% block initjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css" integrity="sha256-0Z6mOrdLEtgqvj7tidYQnCYWG3G2GAIpatAWKhDx+VM=" crossorigin="anonymous" /> {% endblock %} {% block content %} {% include 'includes/navigationbar.html' %} {% include 'includes/particles-bg.html' %}
<div id="chart" style="height:500px; width:1000px"></div>
<div id="chart0" style="height:500px; width:1000px"></div>
<div id="chart1" style="height:500px; width:1000px"></div>
<div id="chart2" style="height:500px; width:1000px"></div>
<div id="chart3" style="height:500px; width:1000px"></div>
<div id="chart4" style="height:500px; width:1000px"></div>
<div id="chart5" style="height:500px; width:1000px"></div>
<script src="{% static 'js/lib/charts/echarts-en.min.js'%}"></script>
<script src="{% static 'js/lib/charts/bundle.js'%}"></script>
<script src="{% static 'js/quandl_test_data.js'%}"></script>
<script src="{% static 'js/ohlc_test_data.js'%}"></script>
<script>
    var x = [];
    var y = [];
    for (var i = 0; i < data.length; ++i) {
        x.push(data[i][0]);
        y.push(data[i][1]);
    }
    
    var myChart = echarts.init(document.getElementById('chart'), charts.mime.theme);
    var option = charts.line.chart(x, [y], ['line chart'])
    myChart.setOption(option);
    
    option = charts.k.chart(dates, _data, 'OHLC');
    var myChart1 = echarts.init(document.getElementById('chart2'), charts.mime.theme);
    myChart1.setOption(option);

    var func = function() {
        var d = [];
        var len = 10000;
        var x = 0;
        while (len--) {
            x = (Math.random() * 10).toFixed(3) - 0;
            d.push([
                x,
                //Math.random() * 10
                (Math.sin(x) - x * (len % 2 ? 0.1 : -0.1) * Math.random()).toFixed(3) - 0
            ]);
        }
        //console.log(d)
        return d;
    };
    var func1 = function() {
        var d = [];
        var len = 10000;
        var x = 0;
        while (len--) {
            x = (Math.random() * 10).toFixed(3) - 0;
            d.push([
                x,
                //Math.random() * 10
                (Math.cos(x) - x * (len % 2 ? 0.1 : -0.1) * Math.random()).toFixed(3) - 0
            ]);
        }
        //console.log(d)
        return d;
    };
    function add_chart(arg){
        if(arg.chartName == 'scatter'){arg.xAxis= [arg.xAxis];}
        charts.ecParams.ecParams.title = arg.title;
        charts.ecParams.ecParams.series = arg.series;
        charts.ecParams.ecParams.xAxis = arg.xAxis;
        charts.ecParams.ecParams.yAxis = [arg.yAxis];
        charts.ecParams.ecParams.values = arg.values;
        charts.ecParams.ecParams.categories = arg.categories;
        charts.ecParams.ecParams._data_generator = arg.data_generator;
        if(arg.chartName == 'line'){
            var option = charts.line.chart(xAxis, [yAxis], ['line chart']);
        }else{
            option = charts[arg.chartName].chart(charts.ecParams.ecParams);
        }
        var myChart = echarts.init(document.getElementById(arg.chart_id), charts.mime.theme);
        myChart.setOption(option);
    }

    option = charts.line.chart([-1.5, -0.75, 0, 0.75, 1.5, 2, 3.2, 4, 4.5, 5.67, 6, 6.8, 7.2, 8, 8.1, 9, 9.59], [
        [-14.1014, -0.931596, 0, 0.931596, 14.1014, 10.152, 9.12, 5.987, 6.5, -3, 8, -12.56, 10, 11.5, 6, 11, 3.56]
    ], ['Interpolate'])
    var myChart3 = echarts.init(document.getElementById('chart1'), charts.mime.theme);
    myChart3.setOption(option);


    var bar = new add_chart({title:'BAR', series: ['test1'], chartName: 'bar', chart_id: 'chart0', xAxis: x, yAxis: y});
    var pie = new add_chart({title:'PIE', chartName: 'pie', chart_id: 'chart4', values: [212, 651, 198, 178, 291, 335, 65, 96.664, 426.78, 998, 978, 98], categories: ['That', 'This', 'Hey', 'Damn', 'it', 'g', 'qsnel', 'asnel', 'qk', 'mc', 'mcq', 'paranoia']});
    var scatter1 = new add_chart({title: 'SCATTER', series:['test1', 'test2'], data_generator: [func, func1], chart_id: 'chart3', chartName: 'scatter'})

    charts.ecParams.ecParams.title = 'SCATTER';
    charts.ecParams.ecParams.series = ['test1'];
    charts.ecParams.ecParams._data_generator = [""];
    charts.ecParams.ecParams.xAxis = [x];
    charts.ecParams.ecParams.yAxis = [y];
    option = charts.scatter.chart(charts.ecParams.ecParams);
    console.log(option);
    var myChart5 = echarts.init(document.getElementById('chart5'), charts.mime.theme);
    myChart5.setOption(option);

</script>

{% include 'includes/footer.html' %} {% endblock %}
