{% extends 'base.html'%} {% load static %} {% block initjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css" integrity="sha256-0Z6mOrdLEtgqvj7tidYQnCYWG3G2GAIpatAWKhDx+VM=" crossorigin="anonymous" /> {% endblock %} {% block content %} {% include 'includes/navigationbar.html' %} {% include 'includes/particles-bg.html' %}
<div id="chart" style="height:500px; width:1200px"></div>
<div id="chart0" style="height:500px; width:1200px"></div>
<div id="chart1" style="height:500px; width:1200px"></div>
<div id="chart2" style="height:500px; width:1200px"></div>
<div id="chart3" style="height:500px; width:1200px"></div>
<div id="chart4" style="height:500px; width:1200px"></div>
<div id="chart5" style="height:500px; width:1200px"></div>
<script src="{% static 'js/lib/charts/echarts-en.min.js'%}"></script>
<script src="{% static 'js/lib/charts/bundle.js'%}"></script>
<script src="{% static 'js/quandl_test_data.js'%}"></script>
<script src="{% static 'js/ohlc_test_data.js'%}"></script>
<script>
    var x = [];
    var y = [];
    for (var i = 0; i < data.length; ++i) {
        x.push(data[i][0]);
        y.push(data[i][1]);
    }
    
    var myChart = echarts.init(document.getElementById('chart'), charts.mime.theme);
    var option = charts.line.chart(x, [y], ['line chart'])
    myChart.setOption(option);
    
    option = charts.k.chart(dates, _data, 'OHLC');
    var myChart1 = echarts.init(document.getElementById('chart2'), charts.mime.theme);
    myChart1.setOption(option);

    var func = function() {
        var d = [];
        var len = 10000;
        var x = 0;
        while (len--) {
            x = (Math.random() * 10).toFixed(3) - 0;
            d.push([
                x,
                //Math.random() * 10
                (Math.sin(x) - x * (len % 2 ? 0.1 : -0.1) * Math.random()).toFixed(3) - 0
            ]);
        }
        //console.log(d)
        return d;
    };
    var func1 = function() {
        var d = [];
        var len = 10000;
        var x = 0;
        while (len--) {
            x = (Math.random() * 10).toFixed(3) - 0;
            d.push([
                x,
                //Math.random() * 10
                (Math.cos(x) - x * (len % 2 ? 0.1 : -0.1) * Math.random()).toFixed(3) - 0
            ]);
        }
        //console.log(d)
        return d;
    };

    var myChart2 = echarts.init(document.getElementById('chart3'), charts.mime.theme);
    charts.ecParams.ecParams.title = 'SCATTER';
    charts.ecParams.ecParams.series = ['test1', 'test2'];
    charts.ecParams.ecParams._data_generator = [func, func1];
    option = charts.scatter.chart(charts.ecParams.ecParams);
    myChart2.setOption(option);


    option = charts.line.chart([-1.5, -0.75, 0, 0.75, 1.5, 2, 3.2], [
        [-14.1014, -0.931596, 0, 0.931596, 14.1014, 10.152, 9.12]
    ], ['Interpolate'])
    var myChart3 = echarts.init(document.getElementById('chart1'), charts.mime.theme);
    myChart3.setOption(option);


    charts.ecParams.ecParams.title = 'BAR';
    charts.ecParams.ecParams.series = ['bar1'];
    charts.ecParams.ecParams.xAxis = x;
    charts.ecParams.ecParams.yAxis = [y];
    option = charts.bar.chart(charts.ecParams.ecParams);
    var myChart0 = echarts.init(document.getElementById('chart0'), charts.mime.theme);
    myChart0.setOption(option);


    charts.ecParams.ecParams.title = 'PIE';
    charts.ecParams.ecParams.values = [212, 651, 198, 178, 291, 335, 65, 96.664, 426.78, 998, 978, 98];
    charts.ecParams.ecParams.categories = ['That', 'This', 'Hey', 'Damn', 'it', 'g', 'qsnel', 'asnel', 'qk', 'mc', 'mcq', 'paranoia'];
    option = charts.pie.chart(charts.ecParams.ecParams);
    var myChart4 = echarts.init(document.getElementById('chart4'), charts.mime.theme);
    myChart4.setOption(option);


    charts.ecParams.ecParams.title = 'SCATTER';
    charts.ecParams.ecParams.series = ['test1', 'test2'];
    charts.ecParams.ecParams._data_generator = [""];
    charts.ecParams.ecParams.xAxis = [
        [8, 2, 11, 6, 5, 4, 12, 9, 6, 1], 
        [14.2, 16.4, 11.9, 15.2, 18.5, 22.1, 19.4, 25.1, 23.4, 18.1, 22.6, 17.2]
    ];
    charts.ecParams.ecParams.yAxis = [
        [3, 10, 3, 6, 8, 12, 1, 4, 9, 14], 
        [215, 325, 185, 332, 406, 522, 412, 614, 544, 421, 445, 408]
    ];
    option = charts.scatter.chart(charts.ecParams.ecParams);
    console.log(option);
    var myChart5 = echarts.init(document.getElementById('chart5'), charts.mime.theme);
    myChart5.setOption(option);

</script>

{% include 'includes/footer.html' %} {% endblock %}
