%li-chart {
    position: absolute;
    right: 1.3rem;
    top: 42%;
}

li.list-group-item {
    background: rgba(0, 0, 0, 0) !important;
    line-height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    width: 18rem;
}
li.list-group-item:hover{
    color: $curious-blue;
}

li.list-group-item a {
    color: white;
    display: flex;
    padding-left: 0.2rem;
}

li.list-group-item > i {
    position: absolute;
    right: 1.3rem;
    opacity: 0.3;
    top: 42%;
}
li.list-group-item > i.fa-circle{
    font-size: 0.5rem;
    opacity: 1;
    color: $curious-blue;
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    font-family: $font-stack-quicksand
    /* 10px 20px */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: $curious-blue;
}
.inputfile + label * {
	pointer-events: none;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile-1 + label {
    color: #f1e5e6;
    background-color: $curious-blue;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: lighten($curious-blue, 10);
}

#upload-div {
    padding: 5rem 1.15rem;
    text-align: center;
    border: 2px dashed $mine-shaft !important;
    border-radius: 5px;
    color: $white-transparent;
    background: $mine-shaft-transparent !important;
}


#data-input {

    .list-group-item {
        margin-bottom: 5px !important;
        font-family: $font-stack-quicksand;
        color: $white-transparent;
        background-color: $mine-shaft-transparent !important;
        outline: 0;
    }
    .list-group-item.active {
        z-index: 2;
        color: white;
        background-color: rgba(46, 46, 46, 0.8) !important;
        border-color: $mine-shaft !important;
    }
    .list-group-item:nth-child(even) i {
        color: $red;
    }
    .list-group-item:nth-child(odd) i {
        color: $curious-blue;
    }
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: $mine-shaft;
    min-width: 5rem;
    max-width: 16.5rem !important;
    box-sizing: border-box;
    z-index: 1;
}

/* put borders on the top and bottom of  all the list link elements*/

div.dropdown-content > a:first-child {
    border-top: 0.15rem solid $white-transparent;
}

div.dropdown-content > a {
    border-bottom: 0.15rem solid $white-transparent;
}

/* styling the dropdown contents by inheriting from ms-text */

div.dropdown-content > a.ms-text {
    line-height: 3rem !important;
    padding-top: 1rem;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    li.list-group-item a:hover {
        color: $curious-blue;
    }
    li.list-group-item i {
        @extend %li-chart;
    }
    ul.list-group {
        height: calc(100vh - 300px);
    }
    .li-viz-text {
        @extend %li-chart;
        right: auto;
    }
}
ul.list-group {
    height: calc(100vh - 20rem) !important;
    background: $black-transparent;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    box-sizing: border-box;
    width: 20rem;
    color: $dusty-gray;
    font-weight: 600; 
    overflow: auto;
    white-space: nowrap;
}
.activated{
    color: $curious-blue;
}
.nav-pills .nav-item .nav-link.active {
    background-color: #007bff;
    color: #FFFFFF !important;
}
.nav-pills .nav-item .nav-link {
    border: 1px solid #007bff;
    border-radius: 0;
    color: #007bff;
    font-weight: 600;
    margin-left: -1px;
    padding: 10px 25px;
}
div.body a {
    color: #007bff !important;
}

.dropdown .dropdown-menu {
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #171717 !important;
}

.bd-deselect-all .bs-select-all {
    font-size: 12px !important;
    font-family: $font-stack-rationale !important;
}