 body {
     background-color: $primary-color;
 }

 // Set particles background properly
 canvas {
     display: block;
 }

 #particles-bg {
     position: fixed;
     width: 100%;
     height: 100%
 }

 .hvr-overline-from-center:before {
     height: 2px !important;
 }
