%row {
    text-align: center;
    color: white;
}

#header,
#about,
#get-involved,
#footer,
#data-collection
.desc-step {
    @extend %row;
}

#header {
    margin: 150px 100px;
}

#about {
    background-color: $mine-shaft-transparent;
    margin: 90px 90px 35px;
}

#get-involved {
    background-color: $mine-shaft-transparent;
    margin: 5px 90px 35px;
}

#footer {
    background-color: $mine-shaft;
}

#data-collection {
    margin: 100px 30px;
}

.row-desc {
    padding: 30px 90px;
    margin-bottom: 30px;
}

.desc-step {
    margin-top: 35px;
    margin-bottom: 100px;
}

.div-fill {
    background-repeat: no-repeat;
    background-size: cover;
}

.sticky-top {
    position: fixed;
    top: 0.25rem;
}

%container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.docs-container {
    @extend %container;
    margin-top: 1.5rem !important;
}

.dataTable {
    background-color:  $mine-shaft;
    color: white;
    font-family: $font-stack-quicksand;
}

.table-responsive {
    width: 60% !important;
}


th {
    border-color: $curious-blue !important;
}


.card-view .title{
    color: white !important;
    font-family: $font-stack-quicksand
}
.main {
    overflow-y: auto !important;
    overflow-x: hidden;
    height: calc(100vh - 20rem);
}