%row {
    text-align: center;
    color: white;
}

#header {
    @extend %row;
    margin: 150px 100px;
}

.what-we-do, #get-involved {
    @extend %row;
    background-color: $mine-shaft-transparent;
    margin: 90px 90px 35px;
}

.row-desc {
    padding: 30px 90px;
    margin-bottom: 30px;
}

.desc-step {
    @extend %row;
    margin-top: 35px;
    margin-bottom: 100px;
}