@mixin generate-colored-text($name, $color) {
    .colored-text-#{$name} {
        color: $color;
    }
}

@include generate-colored-text('red', $red);
@include generate-colored-text('curious-blue', $curious-blue);
@include generate-colored-text('golden-grass', $golden-grass);

#type-out {
    display: inline;
}

.heading {
    font-family: $font-stack-rationale;
    color: white;
}

.heading-md {
    font-size: 35px;
}

.heading-lg {
    font-size: 45px;
}

.heading-xl {
    font-size: 55px;
}

.text-md {
    font-family: $font-stack-quicksand;
    font-size: 18px;
}

.text-sm {
    font-family: $font-stack-quicksand;
    font-size: 16px;
}

.quote {
    font-style: italic;
}
p.text-sm{
    font-family: $font-stack-quicksand;
    font-size: 16px;
    text-align: left;
}