body {
  background-color: #171717; }

canvas {
  display: block; }

#particles-bg {
  position: fixed;
  width: 100%;
  height: 100%; }

.colored-text-red {
  color: #ff0000 !important; }

.colored-text-curious-blue {
  color: #2098d1 !important; }

.colored-text-golden-grass {
  color: #E2A42C !important; }

#type-out {
  display: inline; }

.heading {
  font-family: "rationale", sans-serif; }

.heading-medium {
  font-size: 35px; }

.heading-large {
  font-size: 45px; }

.heading-xlarge {
  font-size: 55px !important; }

.text-description {
  font-family: "quicksand", sans-serif;
  font-size: 18px; }

.quote, .quote-author {
  font-family: "quicksand", sans-serif;
  font-size: 14px; }

.quote {
  font-style: italic; }

.quote-author {
  color: #2098d1; }

.navbar {
  margin-top: 8px;
  background-color: #2e2e2e; }
  .navbar a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: #a39393;
    font-family: "quicksand", sans-serif;
    margin-left: 15px;
    outline: 0; }
  .navbar .navbar-nav > a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: #2098d1; }

.button {
  border-radius: 3px; }

.button-red-sweep-to-bottom {
  border: solid 0.5px #ff0000; }
  .button-red-sweep-to-bottom:hover, .button-red-sweep-to-bottom:focus {
    color: white !important;
    transition-delay: -4ms;
    outline: 0; }
  .button-red-sweep-to-bottom:active {
    vertical-align: top;
    padding: 8px 13px 6px; }

.button-red-sweep-to-bottom {
  color: #ff0000 !important; }

.hvr-sweep-to-bottom:before {
  background-color: #ff0000; }

.button-blue-sweep-to-top {
  border: solid 0.5px #2098d1; }
  .button-blue-sweep-to-top:hover, .button-blue-sweep-to-top:focus {
    color: white !important;
    transition-delay: -4ms;
    outline: 0; }
  .button-blue-sweep-to-top:active {
    vertical-align: top;
    padding: 8px 13px 6px; }

.button-blue-sweep-to-top {
  color: #2098d1 !important; }

.hvr-sweep-to-top:before {
  background-color: #2098d1; }

.button-red {
  border: solid 0.5px #ff0000; }
  .button-red:hover, .button-red:focus {
    color: white !important;
    transition-delay: -4ms;
    outline: 0; }
  .button-red:active {
    vertical-align: top;
    padding: 8px 13px 6px; }

.button-red {
  background-color: #ff0000;
  color: white; }

.button-curious-blue {
  border: solid 0.5px #2098d1; }
  .button-curious-blue:hover, .button-curious-blue:focus {
    color: white !important;
    transition-delay: -4ms;
    outline: 0; }
  .button-curious-blue:active {
    vertical-align: top;
    padding: 8px 13px 6px; }

.button-curious-blue {
  background-color: #2098d1;
  color: white; }

.links {
  margin-top: 40px; }

.links-item {
  font-family: "quicksand", sans-serif;
  font-size: 18px;
  padding: 5px;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: 20px; }

#header, .what-we-do {
  text-align: center;
  color: white !important; }

#header {
  margin: 150px; }

.what-we-do {
  background-color: rgba(46, 46, 46, 0.3) !important;
  margin: 90px; }

.what-we-do-desc {
  padding: 30px 90px;
  margin-bottom: 30px; }

.typed-cursor {
  opacity: 0.7;
  font-size: 40px;
  position: relative;
  top: -5px;
  color: #E2A42C;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite; }

@keyframes typedjsBlink {
  50% {
    opacity: 0.0; } }

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0; }

.carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%; }

.carousel-indicators {
  bottom: -35px; }

#quotes-carousel {
  width: 750px;
  margin: auto; }
