body {
  background-color: #000;
  overflow-x: hidden; }

canvas {
  display: block; }

#particles-bg {
  position: fixed;
  width: 100%;
  height: 100%; }

.hvr-overline-from-center:before {
  height: 2px !important; }

.colored-text-red {
  color: #ff0000; }

.colored-text-curious-blue {
  color: #2098d1; }

.colored-text-golden-grass {
  color: #E2A42C; }

#type-out {
  display: inline; }

.heading {
  font-family: "rationale", sans-serif;
  color: white; }

.heading-md {
  font-size: 35px; }

.heading-lg {
  font-size: 45px; }

.heading-xl {
  font-size: 55px; }

.text-md {
  font-family: "quicksand", sans-serif;
  font-size: 18px; }

.text-sm {
  font-family: "quicksand", sans-serif;
  font-size: 16px; }

.quote {
  font-style: italic; }

p.text-sm {
  font-family: "quicksand", sans-serif;
  font-size: 16px;
  text-align: left; }

.navbar {
  margin-top: 8px;
  background-color: #2e2e2e; }
  .navbar a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: #a39393;
    font-family: "quicksand", sans-serif;
    margin-left: 15px !important;
    outline: 0; }
  .navbar .navbar-nav > a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: white !important; }

.button {
  border-radius: 3px; }

div.buttons > button {
  width: 4rem;
  padding: 0.5rem;
  outline: none;
  margin-left: 1rem; }

div.buttons > button#yes {
  background-color: #2098d1;
  border: none;
  outline: none; }

div.buttons > button#no {
  background-color: #ff0000;
  border: none;
  outline: none; }

.active-btn {
  background-color: #2098d1; }

.button-red-sweep-to-bottom {
  border: solid 0.5px #ff0000; }
  .button-red-sweep-to-bottom:hover, .button-red-sweep-to-bottom:focus {
    color: white !important;
    transition-delay: -4ms; }
  .button-red-sweep-to-bottom:active {
    vertical-align: top; }

.button-red-sweep-to-bottom.active {
  color: white !important; }

.button-red-sweep-to-bottom {
  color: #ff0000 !important; }

.hvr-sweep-to-bottom:before {
  background-color: #ff0000; }

.button-blue-sweep-to-top {
  border: solid 0.5px #2098d1; }
  .button-blue-sweep-to-top:hover, .button-blue-sweep-to-top:focus {
    color: white !important;
    transition-delay: -4ms; }
  .button-blue-sweep-to-top:active {
    vertical-align: top; }

.button-blue-sweep-to-top.active {
  color: white !important; }

.button-blue-sweep-to-top {
  color: #2098d1 !important; }

.hvr-sweep-to-top:before {
  background-color: #2098d1; }

.button-red {
  border: solid 0.5px #ff0000; }
  .button-red:hover, .button-red:focus {
    color: white !important;
    transition-delay: -4ms; }
  .button-red:active {
    vertical-align: top; }

.button-red {
  background-color: #ff0000;
  color: white; }

.button-curious-blue {
  border: solid 0.5px #2098d1; }
  .button-curious-blue:hover, .button-curious-blue:focus {
    color: white !important;
    transition-delay: -4ms; }
  .button-curious-blue:active {
    vertical-align: top; }

.button-curious-blue {
  background-color: #2098d1;
  color: white; }

.button-green {
  border: solid 0.5px #41c753; }
  .button-green:hover, .button-green:focus {
    color: white !important;
    transition-delay: -4ms; }
  .button-green:active {
    vertical-align: top; }

.button-green {
  background-color: #41c753;
  color: white; }

.links {
  margin-top: 40px; }

.links-item {
  font-family: "quicksand", sans-serif;
  font-size: 18px;
  padding: 5px;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: 0 20px; }

.submit-button {
  padding: 0.610rem 1.20rem;
  font-family: "quicksand", sans-serif;
  font-weight: 700; }

#header,
#about,
#get-involved,
#footer,
#data-collection .desc-step {
  text-align: center;
  color: white; }

#header {
  margin: 150px 100px; }

#about {
  background-color: rgba(46, 46, 46, 0.3);
  margin: 90px 90px 35px; }

#get-involved {
  background-color: rgba(46, 46, 46, 0.3);
  margin: 5px 90px 35px; }

#footer {
  background-color: #2e2e2e; }

#data-collection {
  margin: 100px 30px; }

.row-desc {
  padding: 30px 90px;
  margin-bottom: 30px; }

.desc-step {
  margin-top: 35px;
  margin-bottom: 100px; }

.div-fill {
  background-repeat: no-repeat;
  background-size: cover; }

.sticky-top {
  position: fixed;
  top: 0.25rem; }

.docs-container {
  margin-top: 2rem;
  margin-bottom: 4rem; }

.docs-container {
  margin-top: 1.5rem !important; }

.dataTable {
  background-color: #2e2e2e;
  color: white;
  font-family: "quicksand", sans-serif; }

.table-responsive {
  width: 60% !important; }

th {
  border-color: #2098d1 !important; }

.card-view .title {
  color: white !important;
  font-family: "quicksand", sans-serif; }

.main {
  overflow-y: auto !important;
  overflow-x: hidden;
  height: calc(100vh - 20rem); }

#body-particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

.typed-cursor {
  opacity: 0.7;
  font-size: 40px;
  position: relative;
  top: -5px;
  color: #E2A42C;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite; }

@keyframes typedjsBlink {
  50% {
    opacity: 0.0; } }

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0; }

.card-list {
  margin: 0 auto 90px;
  text-align: center; }

.lg-card-header {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.card-sm, .card-lg, .card-faqs, .card-faqs-answer {
  text-align: center;
  color: white !important; }

.card-sm {
  background-color: rgba(46, 46, 46, 0.3);
  width: 255px;
  height: 340px;
  margin: 0 4rem;
  display: inline-block; }
  .card-sm .card-sm-content {
    font-family: "quicksand", sans-serif;
    padding: 1rem 2rem; }

.card-sm .card-sm-top {
  height: 160px;
  line-height: 160px; }

.card-lg {
  background-color: rgba(46, 46, 46, 0.3);
  width: 100%;
  height: 100%;
  margin: 0 4rem;
  display: block; }
  .card-lg .card-lg-content {
    font-family: "quicksand", sans-serif;
    padding: 1rem 2rem; }

.card-faqs {
  background-color: rgba(46, 46, 46, 0.3);
  width: 38rem;
  margin: 0 4rem;
  display: block; }
  .card-faqs .card-faqs-content {
    font-family: "quicksand", sans-serif;
    padding: 1rem 2rem; }

.card-faqs-answer {
  background-color: rgba(46, 46, 46, 0.3);
  width: 40rem;
  height: 30rem;
  margin: 0 4rem; }
  .card-faqs-answer .card-faqs-answer-content {
    font-family: "quicksand", sans-serif;
    padding: 1rem 2rem; }

.card-faqs {
  box-sizing: border-box;
  padding: 1.5rem;
  padding-top: 2.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
  overflow: hidden; }

div > i.fa-plus-circle {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.5rem;
  font-size: 1.8rem;
  color: #2098d1; }

div > i.fa-minus-circle {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.5rem;
  font-size: 1.8rem;
  color: #ff0000; }

div.card-faqs a {
  color: white;
  text-decoration: none; }

div.row.flex-wrap {
  padding-left: 2.5rem;
  padding-right: 2rem; }

.card-lg {
  margin-left: auto; }

.card-body {
  padding-left: 0rem !important;
  height: calc(100vh - 12rem); }

li.card-faqs-answer {
  margin-right: 5rem;
  margin-left: 0rem;
  box-sizing: border-box;
  padding: 2rem;
  line-height: 1.5rem;
  font-size: 0.8rem; }

.card-faqs-list {
  overflow-y: auto !important;
  overflow-x: hidden;
  height: calc(100vh - 20rem);
  width: 100%; }

.card-faqs-list > div.visit {
  background: rgba(0, 0, 0, 0.5);
  border: 0.2rem solid #2e2e2e; }

hr {
  border: 0.1rem solid black;
  width: 80%;
  align-self: center;
  margin-bottom: 2rem; }

#question {
  font-weight: 600; }

strong {
  color: #2098d1;
  font-size: 2rem;
  margin: 1rem; }

.li-col {
  padding-left: 0rem; }

img {
  width: 100%;
  object-fit: fill; }

.card-img {
  display: inline-block;
  background-size: cover;
  width: 60vw;
  max-width: 80vw;
  max-height: 40vh;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  cursor: pointer; }

.vizCol {
  overflow: auto;
  height: calc(100vh - 20rem); }

.tryOutCard {
  margin-bottom: 2rem; }

button {
  position: relative;
  bottom: 0rem; }

.dropdown-content a li.list-group-item i, .dropdown-content a .li-viz-text {
  position: absolute;
  right: 1.3rem;
  top: 42%; }

li.list-group-item {
  background: rgba(0, 0, 0, 0) !important;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  width: 18rem; }

li.list-group-item:hover {
  color: #2098d1; }

li.list-group-item a {
  color: white;
  display: flex;
  padding-left: 0.2rem; }

li.list-group-item > i {
  position: absolute;
  right: 1.3rem;
  opacity: 0.3;
  top: 42%; }

li.list-group-item > i.fa-circle {
  font-size: 0.5rem;
  opacity: 1;
  color: #2098d1;
  display: none; }

.dropdown {
  position: relative;
  display: inline-block; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  font-family: "quicksand", sans-serif; }

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */ }

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #2098d1; }

.inputfile + label * {
  pointer-events: none; }

.inputfile + label {
  cursor: pointer;
  /* "hand" cursor */ }

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #2098d1; }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #42aee2; }

#upload-div {
  padding: 5rem 1.15rem;
  text-align: center;
  border: 2px dashed #2e2e2e !important;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(46, 46, 46, 0.3) !important; }

#data-input .list-group-item {
  margin-bottom: 5px !important;
  font-family: "quicksand", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(46, 46, 46, 0.3) !important;
  outline: 0; }

#data-input .list-group-item.active {
  z-index: 2;
  color: white;
  background-color: rgba(46, 46, 46, 0.8) !important;
  border-color: #2e2e2e !important; }

#data-input .list-group-item:nth-child(even) i {
  color: #ff0000; }

#data-input .list-group-item:nth-child(odd) i {
  color: #2098d1; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #2e2e2e;
  min-width: 5rem;
  max-width: 16.5rem !important;
  box-sizing: border-box;
  z-index: 1; }

/* put borders on the top and bottom of  all the list link elements*/
div.dropdown-content > a:first-child {
  border-top: 0.15rem solid rgba(255, 255, 255, 0.5); }

div.dropdown-content > a {
  border-bottom: 0.15rem solid rgba(255, 255, 255, 0.5); }

/* styling the dropdown contents by inheriting from ms-text */
div.dropdown-content > a.ms-text {
  line-height: 3rem !important;
  padding-top: 1rem; }

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block; }
  .dropdown-content a li.list-group-item a:hover {
    color: #2098d1; }
  .dropdown-content a ul.list-group {
    height: calc(100vh - 300px); }
  .dropdown-content a .li-viz-text {
    right: auto; }

ul.list-group {
  height: calc(100vh - 20rem) !important;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding-top: 2rem;
  padding-left: 1rem;
  box-sizing: border-box;
  width: 20rem;
  color: #a39393;
  font-weight: 600;
  overflow: auto;
  white-space: nowrap; }

.activated {
  color: #2098d1; }

.nav-pills .nav-item .nav-link.active {
  background-color: #007bff;
  color: #FFFFFF !important; }

.nav-pills .nav-item .nav-link {
  border: 1px solid #007bff;
  border-radius: 0;
  color: #007bff;
  font-weight: 600;
  margin-left: -1px;
  padding: 10px 25px; }

div.body a {
  color: #007bff !important; }

.dropdown .dropdown-menu {
  border-radius: 5px; }

.dropdown-menu {
  background-color: #171717 !important; }

.bd-deselect-all .bs-select-all {
  font-size: 12px !important;
  font-family: "rationale", sans-serif !important; }

.carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%; }

.carousel-indicators {
  bottom: -35px; }

#quotes-carousel {
  width: 830px;
  margin: auto; }
