body {
  background-color: #171717; }

canvas {
  display: block; }

#particles-bg {
  position: absolute;
  width: 100%;
  height: 100%; }

.colored-text-red {
  color: #ff0000 !important; }

.colored-text-curious-blue {
  color: #2098d1 !important; }

#type-out {
  display: inline; }

.heading {
  font-family: "rationale", sans-serif; }

.heading-large {
  font-size: 45px; }

.heading-xlarge {
  font-size: 55px !important; }

.text-description {
  font-family: "quicksand", sans-serif;
  font-size: 20px; }

.navbar {
  margin-top: 8px;
  background-color: #2e2e2e; }
  .navbar a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: #a39393;
    font-family: "quicksand", sans-serif;
    margin-left: 15px;
    outline: 0; }
  .navbar .navbar-nav > a, .navbar a:focus, .navbar a:active, .navbar a:hover {
    color: #2098d1; }

.button {
  border-radius: 3px; }

.button-red-sweep-to-bottom {
  color: #ff0000 !important;
  border: solid 0.5px #ff0000; }
  .button-red-sweep-to-bottom:hover, .button-red-sweep-to-bottom:focus {
    color: white !important;
    transition-delay: -4ms; }

.hvr-sweep-to-bottom:before {
  background-color: #ff0000; }

.button-blue-sweep-to-top {
  color: #2098d1 !important;
  border: solid 0.5px #2098d1; }
  .button-blue-sweep-to-top:hover, .button-blue-sweep-to-top:focus {
    color: white !important;
    transition-delay: -4ms; }

.hvr-sweep-to-top:before {
  background-color: #2098d1; }

#header {
  margin: 150px 270px;
  text-align: center;
  color: white !important; }

.typed-cursor {
  opacity: 0.7;
  font-size: 40px;
  position: relative;
  top: -5px;
  color: #E2A42C;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite; }

@keyframes typedjsBlink {
  50% {
    opacity: 0.0; } }

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0; }
